h1 {
  margin: 10px;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.4rem;
  display: flex;
  border-radius: .8rem;
  gap: 1.6rem;
  background: #1E293B;

  &__title {
    width: 16rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }
}

