.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    max-width: 28rem;
    gap: 1.6rem;
    padding: 1.6rem;
    background: var(--w-foreground-800);
    border-radius: .4rem;
    justify-content: space-between;

    &__image {
        width: 100%;
        height: 15.6rem;
        position: absolute;
        top: 0;
        left: 0;

        &--source {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .8rem .8rem 0 0;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: .4rem;

        &:nth-child(1n) {
            width: 100%;
        }
    }

    &__header {
        margin-top: 15.6rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        min-height: 6.7rem;
    }

    &__title {
        min-height: 4.4rem;
        color: var(--w-foreground-300);
    }

    &__description {
        height: 7.6rem;
        text-overflow: ellipsis;
    }

    &__label {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        padding: .4rem .8rem;
        border-radius: .4rem;
        background: #025090;
        color: var(--w-foreground-300);
        box-shadow: 0 0 1.6rem 0 #1d4ed8;
        font-weight: 600;
        z-index: 9;
        user-select: none;
    }
}

.rating {
    display: flex;
    gap: .4rem;

    &__stars {
        display: flex;
        gap: .1rem;
    }
}