.header {
    width: 100%;
    height: 7.2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 1.6rem 1.6rem;
    background: var(--w-foreground-950);
    
    &__logo {
        height: 100%;
        aspect-ratio: 1/1;

        & img {
            width: 100%;
            height: 100%;
        }
    }
  }
  
  .header__wrapper--link {
    text-decoration: none;
  }



.link {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}