@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --w-foreground-950: #020617;
  --w-foreground-900: #0f172a;
  --w-foreground-800: #1e293b;
  --w-foreground-700: #334155;
  --w-foreground-600: #475569;
  --w-foreground-500: #64748b;
  --w-foreground-400: #94a3b8;
  --w-foreground-300: #cbd5e1;
  --w-foreground-200: #e2e8f0;
  --w-foreground-100: #f1f5f9;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--w-foreground-900);
  color: #94a3b8;
}

.link {
  text-decoration: none;
  display: flex;
  gap: .4rem;

  &__text {
    text-decoration: none;
  
    &:visited {
      text-decoration: inherit;
      color: inherit;
    }
  }
}

.separator {
  width: 100%;
  height: .2rem;
  border-radius: 10rem;
  background: #334155;
}

.container {
  &__fullscreen {
    width: 100%;
    height: 100vh;

    &--withheader {
      width: 100%;
      height: calc(100vh - 8rem);
    }
  }
}

.util {
  &__wrapper {
    &--1_6rem {
      display: flex;
      gap: 1.6rem;
    }

    &--8rem {
      display: flex;
      gap: .8rem;
    }

    &--4rem {
      display: flex;
      gap: .4rem;
    }
  }
  &__wrappercolumn {
    &--2_4rem {
      display: flex;
      flex-direction: column;
      gap: .8rem;
    }
    &--1_6rem {
      display: flex;
      flex-direction: column;
      gap: .8rem;
    }
    &--8rem {
      display: flex;
      flex-direction: column;
      gap: .8rem;
    }
    &--4rem {
      display: flex;
      flex-direction: column;
      gap: .4rem;
    }
  }
}

.list {
  &__overflow {
    display: flex;
    gap: .8rem;
    overflow-y: auto;
  }
}

input,
button {
  &:focus,
  &:active {
    outline: .2rem solid #2563eb;
  }
}